Repository tedilabs/terraform-aws-firewall, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: dns-firewall-domain-list, :floppy_disk: dns-firewall-rule-group, :floppy_disk: dns-firewall, :floppy_disk: fms-dns-firewall-policy, :floppy_disk: network-firewall, :floppy_disk: waf-ip-set

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/dns-firewall-domain-list/README.md
  modules/dns-firewall-rule-group/README.md
  modules/dns-firewall/README.md
  modules/fms-dns-firewall-policy/README.md
  modules/waf-ip-set/README.md
Labels: :floppy_disk: dns-firewall-domain-list, :floppy_disk: dns-firewall-rule-group, :floppy_disk: dns-firewall, :floppy_disk: fms-dns-firewall-policy, :floppy_disk: waf-ip-set

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#39)
  README.md
Labels: none

feat: improve how to use resource_group in modules
  modules/dns-firewall-domain-list/outputs.tf
  modules/dns-firewall-domain-list/resource-group.tf
  modules/dns-firewall-domain-list/variables.tf
  modules/dns-firewall-rule-group/outputs.tf
  modules/dns-firewall-rule-group/resource-group.tf
  modules/dns-firewall-rule-group/variables.tf
  modules/dns-firewall/outputs.tf
  modules/dns-firewall/resource-group.tf
  modules/dns-firewall/variables.tf
  modules/fms-dns-firewall-policy/outputs.tf
  modules/fms-dns-firewall-policy/resource-group.tf
  modules/fms-dns-firewall-policy/variables.tf
  modules/waf-ip-set/outputs.tf
  modules/waf-ip-set/resource-group.tf
  modules/waf-ip-set/variables.tf
Labels: :floppy_disk: dns-firewall-domain-list, :floppy_disk: dns-firewall-rule-group, :floppy_disk: dns-firewall, :floppy_disk: fms-dns-firewall-policy, :floppy_disk: waf-ip-set

feat: improve how to use resource_group in modules (#40)
  modules/dns-firewall-domain-list/outputs.tf
  modules/dns-firewall-domain-list/resource-group.tf
  modules/dns-firewall-domain-list/variables.tf
  modules/dns-firewall-rule-group/outputs.tf
  modules/dns-firewall-rule-group/resource-group.tf
  modules/dns-firewall-rule-group/variables.tf
  modules/dns-firewall/outputs.tf
  modules/dns-firewall/resource-group.tf
  modules/dns-firewall/variables.tf
  modules/fms-dns-firewall-policy/outputs.tf
  modules/fms-dns-firewall-policy/resource-group.tf
  modules/fms-dns-firewall-policy/variables.tf
  modules/waf-ip-set/outputs.tf
  modules/waf-ip-set/resource-group.tf
  modules/waf-ip-set/variables.tf
Labels: :floppy_disk: dns-firewall-domain-list, :floppy_disk: dns-firewall-rule-group, :floppy_disk: dns-firewall, :floppy_disk: fms-dns-firewall-policy, :floppy_disk: waf-ip-set

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(waf-ip-set): support aws v6
  modules/waf-ip-set/README.md
  modules/waf-ip-set/outputs.tf
  modules/waf-ip-set/resource-group.tf
  modules/waf-ip-set/variables.tf
  modules/waf-ip-set/versions.tf
Labels: :floppy_disk: waf-ip-set

chore: bump to v0.3.0
  VERSION
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

Remove deprecated pull-request-labeler.yaml workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels.yaml workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#41)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated welcome.yaml workflow
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated welcome.yaml workflow (#46)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

.github/labeler.yaml:

# Modules
":floppy_disk: dns-firewall-domain-list":
- changed-files:
  - any-glob-to-any-file:
    - modules/dns-firewall-domain-list/**/*

":floppy_disk: dns-firewall-rule-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/dns-firewall-rule-group/**/*

":floppy_disk: dns-firewall":
- changed-files:
  - any-glob-to-any-file:
    - modules/dns-firewall/**/*

":floppy_disk: fms-dns-firewall-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/fms-dns-firewall-policy/**/*

":floppy_disk: network-firewall":
- changed-files:
  - any-glob-to-any-file:
    - modules/network-firewall/**/*

":floppy_disk: waf-ip-set":
- changed-files:
  - any-glob-to-any-file:
    - modules/waf-ip-set/**/*
