Repository tedilabs/terraform-aws-firewall, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: dns-firewall-domain-list, :floppy_disk: dns-firewall-rule-group, :floppy_disk: dns-firewall, :floppy_disk: fms-dns-firewall-policy, :floppy_disk: network-firewall, :floppy_disk: waf-ip-set

.github/labeler.yaml:

# Modules
":floppy_disk: dns-firewall-domain-list":
- modules/dns-firewall-domain-list/**/*
":floppy_disk: dns-firewall-rule-group":
- modules/dns-firewall-rule-group/**/*
":floppy_disk: dns-firewall":
- modules/dns-firewall/**/*
":floppy_disk: fms-dns-firewall-policy":
- modules/fms-dns-firewall-policy/**/*
":floppy_disk: network-firewall":
- modules/network-firewall/**/*
":floppy_disk: waf-ip-set":
- modules/waf-ip-set/**/*

Fix typo
  modules/waf-ip-set/README.md
  modules/waf-ip-set/outputs.tf
Labels: :floppy_disk: waf-ip-set

Bump to v0.2.1
  VERSION
Labels: none

Support ram sharing of dns-firewall-rule-group module
  modules/dns-firewall-rule-group/README.md
  modules/dns-firewall-rule-group/outputs.tf
  modules/dns-firewall-rule-group/ram-share.tf
  modules/dns-firewall-rule-group/variables.tf
Labels: :floppy_disk: dns-firewall-rule-group

Support ram sharing of dns-firewall-rule-group module (#12)
  modules/dns-firewall-rule-group/README.md
  modules/dns-firewall-rule-group/outputs.tf
  modules/dns-firewall-rule-group/ram-share.tf
  modules/dns-firewall-rule-group/variables.tf
Labels: :floppy_disk: dns-firewall-rule-group

Update example code
  examples/dns-firewall-full/main.tf
Labels: none

Bump to v0.2.2
  VERSION
Labels: none

Hello, 2023
  README.md
Labels: none

Introduce tflint
  .github/workflows/integration.yaml
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

Introduce tflint (#13)
  .github/workflows/integration.yaml
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

Update workflow
  .github/workflows/terraform.integration.yaml
Labels: none

Update github workflows
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
Labels: none

Fix validation error
  modules/dns-firewall-rule-group/README.md
  modules/dns-firewall-rule-group/variables.tf
Labels: :floppy_disk: dns-firewall-rule-group

Update waf-ip-set module dependencies
  modules/waf-ip-set/README.md
  modules/waf-ip-set/versions.tf
Labels: :floppy_disk: waf-ip-set

Update pre-commit config
  .pre-commit-config.yaml
Labels: none

Update terraform version to v1.5
  .pre-commit-config.yaml
  examples/dns-firewall-full/versions.tf
  examples/fms-dns-firewall-policy/versions.tf
  modules/dns-firewall-domain-list/README.md
  modules/dns-firewall-domain-list/versions.tf
  modules/dns-firewall-rule-group/README.md
  modules/dns-firewall-rule-group/versions.tf
  modules/dns-firewall/README.md
  modules/dns-firewall/versions.tf
  modules/fms-dns-firewall-policy/README.md
  modules/fms-dns-firewall-policy/versions.tf
  modules/waf-ip-set/README.md
  modules/waf-ip-set/versions.tf
Labels: :floppy_disk: dns-firewall-domain-list, :floppy_disk: dns-firewall-rule-group, :floppy_disk: dns-firewall, :floppy_disk: fms-dns-firewall-policy, :floppy_disk: waf-ip-set

Update terraform version to v1.5 (#21)
  .pre-commit-config.yaml
  examples/dns-firewall-full/versions.tf
  examples/fms-dns-firewall-policy/versions.tf
  modules/dns-firewall-domain-list/README.md
  modules/dns-firewall-domain-list/versions.tf
  modules/dns-firewall-rule-group/README.md
  modules/dns-firewall-rule-group/versions.tf
  modules/dns-firewall/README.md
  modules/dns-firewall/versions.tf
  modules/fms-dns-firewall-policy/README.md
  modules/fms-dns-firewall-policy/versions.tf
  modules/waf-ip-set/README.md
  modules/waf-ip-set/versions.tf
Labels: :floppy_disk: dns-firewall-domain-list, :floppy_disk: dns-firewall-rule-group, :floppy_disk: dns-firewall, :floppy_disk: fms-dns-firewall-policy, :floppy_disk: waf-ip-set

Update dependabot
  .github/dependabot.yml
Labels: none
